In [16]:
from sqlalchemy import MetaData,Table,create_engine,select

In [17]:
engine=create_engine('mysql://root:test@localhost/emp_db')

In [18]:
metadata=MetaData()
con=engine.connect()

In [19]:
employee = Table('employee', metadata, autoload_with=engine)

In [20]:
#where condition
s = select([employee]).where(employee.c.department=='sales')
result = con.execute(s)

for row in result:
   print (row)

(1, 'Ravi', 'sales', 10000, 2000, 3000)
(4, 'Rahul', 'sales', 15000, 2500, 4000)
(6, 'sham', 'sales', 20000, 3000, 5000)

In [21]:
# in
s=select([employee]).where(employee.c.department.in_(['admin','HR']))
result=con.execute(s)
for row in result:
    print(row)

(2, 'Seetha', 'HR', 30000, 5000, 7000)
(3, 'Deepak', 'admin', 20000, 3000, 5000)

In [22]:
#order by clause
from sqlalchemy.sql import asc
s=select([employee]).order_by(employee.c.name.asc())
result=con.execute(s)
for row in result:
    print(row)

(5, 'Akansha', 'developer', 40000, 6000, 9000)
(3, 'Deepak', 'admin', 20000, 3000, 5000)
(4, 'Rahul', 'sales', 15000, 2500, 4000)
(1, 'Ravi', 'sales', 10000, 2000, 3000)
(2, 'Seetha', 'HR', 30000, 5000, 7000)
(6, 'sham', 'sales', 20000, 3000, 5000)

In [23]:
#between
from sqlalchemy.sql import between
s=select([employee]).where(between(employee.c.basicsalary,10000,30000))
result=con.execute(s)
for row in result:
    print(row)

(1, 'Ravi', 'sales', 10000, 2000, 3000)
(2, 'Seetha', 'HR', 30000, 5000, 7000)
(3, 'Deepak', 'admin', 20000, 3000, 5000)
(4, 'Rahul', 'sales', 15000, 2500, 4000)
(6, 'sham', 'sales', 20000, 3000, 5000)